@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

html {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #597889;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* custom classnames */

.initial {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #597889),
    url("./images/cloudy-clouds.jpg");
  background-position: center bottom 5%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  opacity: 30%;
}

.content-container {
  position: relative;
  z-index: 2;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 20vw; */
  /* padding-right: 20vw; */
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 3vh;
  color: white;
  text-shadow: 2px 2px 8px #4f6b7a, -2px -2px 8px #597889;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.navItem {
  padding: 1vh;
  margin: 1vh;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 8px #4f6b7a, -2px -2px 8px #597889;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.icons {
  width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialLogo {
  width: 4vh;
  height: auto;
  filter: drop-shadow(2px 2px 8px #4f6b7a) drop-shadow(-2px -2px 8px #597889);
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.logo {
  max-width: 20vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: block;
  margin: 0 auto;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 10px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.nameBig {
  font-family: "Montserrat", sans-serif;
  text-emphasis: none;
  color: white;
  font-size: 40px;
  padding: none;
  user-select: none;
  text-align: center;
  text-shadow: 2px 2px 8px #4f6b7a, -2px -2px 8px #597889;
}

.aboutSmall {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: none;
  user-select: none;
  text-align: center;
  text-shadow: 2px 2px 8px #4f6b7a, -2px -2px 8px #597889;
}

.main-container {
  position: relative;
  overflow: hidden;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #597889, #00000000, #597889);
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 30%;
}

.cloud {
  position: absolute;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: left center;
}

.cloud1 {
  animation-name: moveCloud1;
}

.cloud2 {
  animation-name: moveCloud2;
}

.cloud3 {
  animation-name: moveCloud3;
}

@keyframes moveCloud1 {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(120%);
  }
}

@keyframes moveCloud2 {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(60%);
  }
}

@keyframes moveCloud3 {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(30%);
  }
}



.music-main {
  max-width: auto;
  display: flex;
  justify-content: center;
}

.music-container {
  max-width: 80%;
  align-items: center;
  max-height: fit-content;
  position: relative;
}

.music-container .slick-list {
  margin-top: auto;
  margin-bottom: auto;
}

.music-container .mask-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  z-index: 2;
}


.music-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slick-track {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.iframe-wrapper {
  width: auto;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.music-container .mask-overlay.right {
  right: 0;
  left: auto;
  background: linear-gradient(to right, transparent, #597889);
}

.music-container .mask-overlay.left {
  left: 0;
  right: auto;
  background: linear-gradient(to left, transparent, #597889);
}


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/* MAKE SCREEN COLLAPSE AT 772PX */
